*{
    box-sizing: border-box;
}

body{
    background-color: rgb(38, 60, 45);
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    background-color: grey;
    box-shadow: 10px 10px 30px grey,
    -10px - 10px 30px white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 350px;
}

.screen{
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px grey,
    inset -5px -5px 10px grey;
    color: grey;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
    width: 100%;
}

button{
    background-color: rgb(200, 183, 183);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey,
    -5px -5px 10px white;
    color: rgb(33, 24, 24);
    cursor: pointer;
    font-size: 24px;
    height: 60px;
    margin: 5px;
    padding: 0 20px;
    transition: box-shadow 0.3s ease;
    width: calc(25% - 10px);
}

.clear{
    background-color: rgb(14, 163, 222);
    box-shadow: 5px 5px 10px grey,
    -5px -5px 10px white;
    color: white;
    width: 100%;
}

button:hover{
    box-shadow: 2px 2px 5px rgb(59, 128, 223),
    inset -2px -2px 5px white;
}